body {
    font-family: "Times New Roman", Georgia, Serif;
    background-color: #000;
    overflow: hidden;
    background-image: url('../arup.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.wrapper {
    position: relative;
    margin: 0 auto;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav-link {
    height: 74px;
    padding: 0 30px;
    line-height: 74px;
    font-size: 1.5em;
}

.nav { background-color: #333 !important; }

.nav-tabs {
    border-bottom: 5px solid #fecb17;
    height: 79px;
}

.nav-tabs .nav-link {
    background-color: #333 !important;
    color: #fff;
    border-right: 1px solid #000;
    border-top-right-radius: none;
    border-top-left-radius: none;
}

.nav-link.active {
    background-color: #fff !important;
    color: #000 !important;
    border: none;
    border-right: 1px solid #000;
    border-top-right-radius: none;
    border-top-left-radius: none;
}

.floating-button {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #333;
    position: fixed;
    top: 560px;
}

.floating-left {
    left: 20px;
}

.floating-right {
    right: 20px;
}

.chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    color: #fff;
    font-size: 120px;
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.27em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

.chevron.right:before {
    left: 0.2em;
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.32em;
    transform: rotate(-135deg);
}

video::-webkit-media-controls-fullscreen-button {
    display:none;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.arrow {
  position: relative;
  padding: 0px;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.circle {
  position: absolute;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  border: 10px solid #fff;
  border-radius: 50%;
  -webkit-clip-path: inset(0 50% 0 0);
  clip-path: inset(0 50% 0 0);
}
.triangle {
  position: absolute;
  width: 35px;
  height: 30px;
  background: #fff;
  margin-top: -15px;
  margin-left: 10px;
  -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  -moz-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}
#keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.5em;
  text-align: center;
  background: #333;
  color: #fff;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.capslock, .tab, .left-shift {
  clear: left;
}
#keyboard .tab, #keyboard .delete {
  width: 70px;
}
#keyboard .capslock {
  width: 95px;
}
#keyboard .return {
  width: 120px;
}
#keyboard .left-shift {
  width: 160px;
}
#keyboard .right-shift {
  width: 130px;
}
.lastitem {
  margin-right: 0;
}
.uppercase {
  text-transform: uppercase;
}
#keyboard .space {
  clear: left;
  width: 1045px;
}
.on {
  display: none;
}
#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
}
input {
  font-family: "Times New Roman", Georgia, Serif !important;
  font-size: 1.4em !important;
}
button {
  font-family: "Times New Roman", Georgia, Serif !important;
  font-size: 1.4em !important;
}
.current-field, .current-field:focus {
  border: 5px solid #fecb17;
}
